:root {
  --color-of-headtext: #fff;
  --color-of-backg-head: #2c1320;
  --text-color: #042a2b;
  --background-color: #f6f7eb;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 200ms linear;
}

a:hover,
a:focus {
  color: #797b84;
}

.body {
  margin: 0 auto;
  font-family: "Oswald", sans-serif;
}

.section {
  padding-bottom: 20px;
  padding-left: auto;
  padding-right: auto;
  background-color: var(--background-color);
}

.container {
  box-sizing: border-box;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0 auto;
}

.headline {
  display: inline-block;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 15px;
  font-size: 40px;
  border-radius: 3px;
  color: var(--color-of-headtext);
  background-color: var(--color-of-backg-head);
}

.text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 1.2;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 0;
  margin-left: 15px;
  margin-right: 15px;
  color: var(--text-color);
  background-color: var(--background-color);
}

.nav {
  padding: 10px;
  border-top-style: none;
  border-left-style: solid;
  border-bottom-style: none;
  border-right-style: none;
  border-width: 5px;
  border-radius: 5px;
  background-color: #d3b88c;
}

.nav_title {
  display: inline-block;
  padding: 5px;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "Oswald", sans-serif;
  font-size: 23px;
  font-weight: 300;
  color: var(--color-of-headtext);
  background-color: var(--color-of-backg-head);
}

.nav-link {
  font-size: 20px;
}
.nav-list {
  padding-left: 35px;
  list-style-type: circle;
}

.second {
  font-weight: 300;
  font-size: 30px;
  padding: 5px;
  margin-top: 0;
}

.benefits-list,
.problems-list {
  padding-left: 15px;
  list-style-type: upper-greek;
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

footer {
  color: var(--color-of-headtext);
  background-color: var(--text-color);
}
